In [1]:
list = [1,3,5,8,10]                                #break at a certain point
for i in list:
    print(i)
    if i == 5:
        break

1
3
5

In [5]:
list = [1,3,5,8,10]                                
for i in list:
    if i == 5:
        print(i)
        break

5

In [8]:
list = [1,3,5,8,10]                                
for i in list:
    if i == 5:
        break
    print(i)

1
3

In [9]:
list = [1,3,5,8,10]                   # 'continue ' skips the value in the condition                               
for i in list:
    if i == 5:
        continue
    print(i)

1
3
8
10

# for loop nested

In [45]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ",
"Gizmo ", "Do-Rag "]

In [46]:
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]

In [47]:
full_names = []

In [54]:
for f in first_names:
    for l in last_names:
        full_names.append(f+" "+l)

In [51]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [24]:
for i in range(1,11):
    print("2*" + str(i) + "=" + str(i*2))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [17]:
for x in range(2,11):
    for y in range(1,11):
        print(str(x) + " * " + str(y) + " = " + str(x*y))
    print("===========",)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
===========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
===========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
===========
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
===========
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
===========
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
===========
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
===========
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
===========
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
===========

In [55]:
start = int(input("Enter the start of tables : "))
end = int(input("Enter the end of tables : "))


for x in range(start,end):
    for y in range(1,11):
        print(str(x) + " * " + str(y) + " = " + str(x*y), end= " ")
    print("\n ")

Enter the start of tables : 2
Enter the end of tables : 5
2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18 2 * 10 = 20

3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27 3 * 10 = 30

4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36 4 * 10 = 40

# Dictionaries dct={key:value}

In [38]:
dct= {}                  #dictionary can be of any type 
type(dct)

dict

In [53]:
dct = {1:100,"t":300,3:"apple"}
dct1 = {"a":"apple","b":"ball"}
dct2 = {1:100,3:300}
dct3 = {"names":["aquib","ali","farhan"],1:1000}
dct5 = {"a1":dct,"a2":dct1}    #this is called list of dictionaries

dct[1]
dct1["a"]
dct3["names"]
dct5["a1"]
dct5["a1"]= "a3"
dct5["a4"]= 100
dct5

{'a1': 'a3', 'a2': {'a': 'apple', 'b': 'ball'}, 'a4': 100}

In [54]:
dct6 = {1:788,2:123,1:300}

In [55]:
dct6[1]       # it overwrites the first of "1"

300

In [56]:
del dct6[1]
dct6

{2: 123}

In [58]:
dct3["names"][0]     # [0] is the index of the list

'aquib'

In [59]:
dct7 = {1: {12:"a",13:"b",14:"C2z"}, 2:"123456"}
dct7[1][14][2]              #[1] is the key, [14] is the key, [2] is the index

'z'

In [63]:
dct3["names"].append("haris")
dct3

{'names': ['aquib', 'ali', 'farhan', 'haris', 'haris', 'haris'], 1: 1000}

In [3]:
dct8 = {1:"a",2:"b",3:"c",4:"d"}

In [4]:
for key,value in dct8.items():      # 'key' represent keys and "value" represent values
    print(key,value)

1 a
2 b
3 c
4 d

In [6]:
for key in dct8.keys():
    print(key)

1
2
3
4

In [7]:
for value in dct8.values():
    print(value)

a
b
c
d

In [9]:
for key in dct8.keys():           #dct8[key] represent values of that particular key
    print(dct8[key])

a
b
c
d