In [6]:
eklist = [1,2,3,4,5,6,7,8,9]

In [7]:
poppedValue = eklist.pop()      # pop removes the item from the list
poppedValue

9

In [8]:
eklist

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
tasks = ["turn on computer", "insert password", "open program"]

In [23]:
poppedtask = tasks.pop(0)

In [29]:
accomplishedTasks = []

In [25]:
accomplishedTasks.append(poppedtask)
accomplishedTasks

['turn on computer']

#  program to pop an element from the list and add to another list

In [83]:
tasks = ["turn on computer", "insert password", "open program"]

In [98]:
status = input("Have you done the task? (yes/no) = ")

Have you done the task? (yes/no) = no

In [85]:
accomplishedTasks = []

In [99]:
if status == "yes" and len(tasks)!=0:
    taskdone = tasks.pop()
    accomplishedTasks.append(taskdone)
elif status == "no" and len(tasks)!=0:                    #program to pop an element from the list and add in another
    print("complete the tasks first")
else:
    print("There are no task in the list")
tasks

There are no task in the list

[]

In [95]:
accomplishedTasks

['open program', 'insert password', 'turn on computer']

# for loop

In [109]:
for x in range(10):       # x start from 0 to 9
    print(x, "Aquib", end="\t")

0 Aquib	1 Aquib	2 Aquib	3 Aquib	4 Aquib	5 Aquib	6 Aquib	7 Aquib	8 Aquib	9 Aquib

In [110]:
x           # shows the last value it holds i.e '9' in this case

9

In [115]:
for x in range(1,10):       # x start from 1 to 9
    print(x, "Aquib")

1 Aquib
2 Aquib
3 Aquib
4 Aquib
5 Aquib
6 Aquib
7 Aquib
8 Aquib
9 Aquib

In [131]:
cars = ["audi","bentley","mehran"]
for car in cars:
    print("The car selected is", car.title()+".")

The car selected is Audi.
The car selected is Bentley.
The car selected is Mehran.

In [134]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [137]:
for i in range(9,1,-2):
    print(i)

9
7
5
3

In [138]:
for w in "a","c","d","f":
    print(w)

a
c
d
f

In [148]:
squareList= []
for value in range(1,11):
    square = value**2
    squareList.append(square)
print(squareList)
print(sum(squareList))
print(max(squareList))
print(min(squareList))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385
100
1

In [149]:
for char in "Karachi":
    print(char)

K
a
r
a
c
h
i

In [150]:
for char in "Karachi", "Pakistan":
    print(char)

Karachi
Pakistan

In [151]:
[x**2 for x in range(1,11)]     #list comprehension

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [153]:
[x**2 for x in range(1,11) if x % 2 ==0]        #not even no. printing

[4, 16, 36, 64, 100]

In [12]:
y = [1,2,3,4,5,6]
x = int(input("Enter the number = "))

[i**2 for i in y if x==i]

Enter the number = 2

[4]

# upper, lower & title case

In [125]:
x = "aQuIb"
x = x.upper()
x

'AQUIB'

In [130]:
x = "aQuIb"
x = x.lower()
x

'aquib'

In [129]:
x = "aQuIb"
x = x.title()
x

'Aquib'