# # CHAPTER - 1         PRINT STATEMENT

In [26]:
print('Hello, World') # shift+tab (signature)

Hello, World

In [25]:
print("Aquib's, World")

Aquib's, World

In [3]:
print(1,2,3,4,"aquib",sep="---")

1---2---3---4---aquib

In [1]:
print(1,2,3,4,"Aquib")

1 2 3 4 Aquib

In [101]:
print("Isl","karachi",sep=",",end="\n")
print("Apple","Orange", end="\t")
print("reddish","brinjal")

Isl,karachi
Apple Orange	reddish brinjal

In [6]:
print("Isl","karachi",sep=",",end="\t") 
print("Apple","Orange")

Isl,karachi	Apple Orange

In [16]:
'''loremfmkk j defj jfl la kfj ljflkajflka'''
print("hello")

hello

# CHAPTER-2           VARIABLES FOR STRING

In [7]:
name = "Imran Khan"       #variables can be changed 
name ='Imran Khan'
print(name)

Imran Khan

In [9]:
f_name = 'Imran Khan'
f_name = 'Nawaz Shareef'
print(f_name)

Nawaz Shareef

In [11]:
# int value           #It is called decleration
# value 200           # Initialization
# int value 200       #ctrl+forward slash(/) for multiple comments after selecting all

'this is my computer'

In [13]:
value=100
type(value)

int

In [36]:
no_1=input("Enter an integer=")          # input is always string
no_2=input('Input an integer value=')
print(no_1+no_2)                 #this is a string
type(no_1)

Enter an integer=12
Input an integer value=10
1210

str

In [42]:
no_1=input("Enter an integer=")       
no_2=input('Input an integer value=')
print(int(no_1)+int(no_2))          #making it an integer, this called Type casting
type(no_1)

Enter an integer=12
Input an integer value=10
22

str

In [41]:
no_1=int(input("Enter an integer="))       
no_2=int(input('Input an integer value='))
print((no_1)+(no_2))          #making it an integer, this called 'Type casting'
type(no_1)

Enter an integer=12
Input an integer value=10
22

int

In [43]:
no_1=int(input("Enter an integer="))         #type defined is integer and input is a string"apple" that is why error generating.
no_2=int(input('Input an integer value='))
print((no_1)+(no_2))        
type(no_1)

Enter an integer=apple

ValueError: invalid literal for int() with base 10: 'apple'

In [ ]:
new_name = 'Imran Khan'

In [ ]:
name = 'Nawaz Shareef'

In [ ]:
lesson_to_learn = 'Imran khan'
my_NAME_in_capital_letters = 'UNITED STATE AMERICA'

In [2]:
x , y , z = 'hello friends' , 'take tea' , 'to be honnest'

 # CHAPTER-3        VARIABLES FOR NUMBERS

In [6]:
age = 25

In [7]:
weight = '25'

In [13]:
mangoes = 10

In [12]:
mangoes + 10
mangoes_sum = mangoes +10

In [11]:
height = 25
width = 50
summation = height + width
print(height + width)

75

In [10]:
a = 10
b = 10.5
sum = a-b
print(sum)
print(type(a))
print(type(b))

b = a
print(b)
type(b)

-0.5
<class 'int'>
<class 'float'>
10

int

In [24]:
first_prime_num = '2'
first_odd_num = '1'
take_sum = first_prime_num + first_odd_num
print(take_sum)
type(take_sum)
print(take_sum + str(10))

21
2110

# # CHAPETR - 4 MATHS EXPRESSION - FAMILIAR OPERATORS

In [29]:
popular_number = 4

In [28]:
popular_number = 2 + 2 
popular_number

4

In [27]:
loss = 12 - 10
loss

2

In [30]:
doxens = 3 * 12
doxens

36

In [54]:
marks = 0
a = 5 
b = 4
marks = a/b
print(marks)        #by default divion is 'float'
print(int(marks))

1.25
1

In [55]:
marks = 0
a = 5 
b = 4
marks = a//b        #giving the only integer part ignoring float part by "//"
print(marks)

1

# Chapter -5 Variable Names Legal and Illegal

In [102]:
1st class = "10 Chapters" #illegal varibale name starting with starting number and space

SyntaxError: invalid syntax (<ipython-input-102-e6bbf439725f>, line 1)

In [38]:
class_1st = "10 chapters" #legal variable name with number in between and underscores

In [44]:
class-1st = "10 chapters" #illegal variable name with "hypen(-)"

SyntaxError: invalid syntax (<ipython-input-44-fcf717d4dfe9>, line 1)

In [52]:
and= "Aquib"        #special python words(and,print....) can not be used

SyntaxError: invalid syntax (<ipython-input-52-2366afb5c549>, line 1)

In [ ]:
myFisrtName="Aquib"     #camel casing

# Chapter - 6 Math expressions: Unfamiliar operators

In [39]:
whats_left_over = 10 % 3    # "%" modula or remainder of a number
whats_left_over

1

In [40]:
whats_left_over = 9 % 3
whats_left_over

0

In [41]:
age = 54
age += 1
print(age)

55

In [43]:
age = 12
age += 50
print(age)

62

In [44]:
age = 12
age -= 2
print(age)

10

In [45]:
age = 12
age *= 3
print(age)

36

In [46]:
age = 12
amount_to_increment = 3
age += amount_to_increment
print(age)

15

# Chapter - 7 Math expressions: Eliminating ambiguity

In [47]:
total_cost = 1 + 3 * 4
total_cost

13

In [54]:
total_cost = (1 + 3) * 4
total_cost

16

In [57]:
2**6   #"**" two asteric are used for exponent e.g "2 to the power 6 "

64

In [51]:
result_of_computation = (2 * 4) * 4 + 2
result_of_computation

34

In [55]:
result_of_computation = ((2 * 4) * 4) + 2
result_of_computation

34

In [56]:
result_of_computation = (2 * 4) * (4 + 2)
result_of_computation

48

In [60]:
solve= 2+3*5
solve

17.0

In [62]:
solve=1/2 + 3//3 + 4**2        # BODMAS Rule 
solve

17.5

In [64]:
x= "apple"
y= "banana"
print(x,y)

apple banana

In [65]:
x= "apple"
y="banana"
print(x+y)           #concatenate

applebanana

# Chapter 9 - if statements

In [1]:
species="dog"
if species == "cat":
    print("Yep, it's cat.")

In [68]:
species = "cat"
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [103]:
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

Yep, it's cat.

In [105]:
if 2 + 5 == 7:
    print("Everything makes sense.")

Everything makes sense.

In [63]:
number_of_wives = 1
if number_of_wives == 1:
    print("So far so good.")
    print("Yuppy!.")

So far so good.
Yuppy!.

In [106]:
number_of_wives=3
if number_of_wives == 4:
    print("So far so good.")
    print("Congratulations.")
print("All done")

All done

In [70]:
if 2+2 == 4:
    print("Sum is right")

Sum is right

In [86]:
no = int(input("enter first number:"))
if no % 2 == 0:
    print("The number is even")
else:
    print("The number is odd ")

enter first number:2
The number is even

In [99]:
no= int(input("enter the number:"))
if no % 2 == 0:
    print("The number" , str(no) , "is even")
else:
    print("The number" , str(no) ,"is odd ")

enter the number:12
The number 12 is even

# Chapter 10 - Comparison operators

In [ ]:
car = 'audi'
car.upper() == 'AUDI'

In [72]:
car = "Bentley"
if car == "Bentley":
    print("Buy the Car")

Buy the Car

In [79]:
color = "Red"
if color == "Blue":
    print("Fill the color")

In [78]:
channel = "Cartoon Network"
if channel != "ten sports":
    print("Let's Watch")

Let's Watch

In [81]:
sum = 4
if sum == 2+2:
    print("The Sum is correct ")

The Sum is correct